* {
  padding: 0;
  margin: 0;
}

body {
  background-color: #2B2D42;
  color: #EDF2F4;
  font-family: 'Roboto Mono', monospace;
}

#header {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#hero-title { 
  font-size: 128px;
}

#navbar {
  display: flex;
}

#navbar li {
  text-decoration: none;
  list-style: none;
  margin-left: 5px;
  margin-right: 10px;
}

.nav-links {
  cursor: pointer;
}

.nav-links:hover {
  letter-spacing: 1px;
  font-weight: 700;
}

#main-content {
  display: flex;
  margin-top: 50px;
  justify-content: center;
}

#profile-picture {
  max-width: 200px;
}

#description {
  max-width: 300px;
  margin-left: 20px;
}

#socials {
  display: flex;
  align-items: center;
}

.social {
  max-width: 50px;
}
