.about-container {
  align-items: center;  
  display: flex;
  flex-direction: column;
  margin-top: 1%;
}

.about-container h1 {
  color: var(--title-color);
}

.about-text {
  height: auto;
  margin-top: 1%;
  text-align: justify;
  width: 50%;
}

@media ( max-width : 900px ) {

  .about-text {
    width: 80%;
  }

}
